h2{
    background-color:rgb(244, 244, 84);
    
}
h3{
    background-color:rgb(244, 244, 84)
}
.movie1{
    display: flex;
}
.img1{
    display: flex;
  height: 70px;
  width: 70px;
  border-radius: 30%;
}
