body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  color: brown;
  background-color: rgb(235, 235, 147);
  margin: 30px 0;
}
.card {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.card {
  text-align: center;
  padding: 40px;
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

p {
  justify-content: center;
  padding: 2px;
}
.theme-a {
  border: 3px solid rgb(244, 138, 0);
  background-color: rgb(255, 205, 111);
  border-radius: 8px;
}

.theme-b {
  border: 3px solid rgb(0, 162, 255);
  background-color: rgb(185, 230, 255);
  border-radius: 8px;
}
.theme-c {
  border: 3px solid rgb(0, 255, 26);
  background-color: rgb(132, 251, 184);
  border-radius: 8px;
}
.theme-d {
  border: 3px solid rgb(244, 0, 118);
  background-color: rgb(238, 167, 217);
  border-radius: 8px;
}
.theme-e {
  border: 3px solid rgb(244, 0, 118);
  background-color: rgb(238, 167, 217);
  border-radius: 8px;
}
.theme-f {
  border: 3px solid rgb(0, 255, 85);
  background-color: rgb(132, 251, 184);
  border-radius: 8px;
}
.theme-g {
  border: 3px solid rgb(0, 162, 255);
  background-color: rgb(185, 230, 255);
  border-radius: 8px;
}
.theme-h {
  border: 3px solid rgb(244, 138, 0);
  background-color: rgb(255, 205, 111);
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}
.theme-a:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}
.theme-b:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}
.theme-c:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}
.theme-d:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}
.theme-e:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}
.theme-f:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}
.theme-g:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}
.theme-h:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
}