html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  background-image: url("../image/1200px.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cls {
  width: 80%; 
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
}
h1{
    font-style: italic;
    text-align: center;
    background-color: rgb(247, 188, 100)   ;
}
p{
    justify-content: center;
    font-size: larger;
}
.btn{  
    background-color: brown;
    padding: 15px;
    color:white;
    font-weight: bold;
    border-radius: 50%;
    display: block;
    margin:0 auto;
}